:root {
  --mainColor: #CDA274;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
  color: #292F36;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.5s;
}

.navbar {
  margin: 0 50px;
}
.navbar .row {
  height: 80px;
}

.logo::after {
  width: 0 !important;
}

.banner {
  height: 100vh;
  background-image: url('../public/Banner.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 0 0 0 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.banner h1 {
  font-size: 65px;
  width: 11ch;
  line-height: 106px;
}

.banner p {
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: left;

}

.btn {
  display: inline-block;
  padding: 16px 40px;
  width: fit-content;
  background-color: #292F36;
  color: #fff;
  text-decoration: none;
  outline: none;
  border-radius: 10px;
  margin-top: 18px;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--mainColor);
}

/*second part*/

.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 116px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.boxContainer .box {
  text-align: center;
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
 
h4{
  color: #292F36;
  font-size: 25px;
  font-weight: 360;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;

}
.box p, .button {
  color: #4D5053;
}
.box p{
font-weight: 400;
line-height: 24px;
text-align: center;
margin: 24px 0;

}
.box .button {
  text-decoration: none; 
  font-size: 18px;
  font-weight: 360;
  text-align: center;
  margin-top: 40px;
  transition: 0.3 ease-in-out;
  
}
.button:hover {
  color:#CDA274;
}


/*second part*/
.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
  margin: 0 70px;
}

.leftPart {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
;
}

.leftPart h2 {
  color: #292F36;
  font-size: 40px;
  width: 15ch;
}

.leftPart p {
  color: #4D5053;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 24px 0;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.leftPart a {
text-decoration: none;
color: #4D5053;
font-size: 24px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0.01em;

}
.leftPart span {
  color: #4D5053;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}
.leftPart a:hover {
  color:var(--mainColor);
}
.infoBtn {
  display: inline-block;
  padding: 10px 20px;
  width: fit-content;
  background-color: #292F36;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 16px;
  transition: 0.3s ease-in-out;
}
.infoBtn:hover {
  background-color: var(--mainColor);
}

 .rightPart {
  background-image: url("../public/Interior.jpg");
  background-position: center;
  background-size: cover;
  width: 450px;
  border-radius: 0 50% 0 28%;
 }




/* common */
.container {
  min-width: 1200px;
  margin: auto;
}

.row{
  display: flex;

}
.justify-around {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
